@layer reset,ext-lib,ui;
:root {
  --ax-primitive-4rule-0: 0rem;
  --ax-primitive-4rule-4: 0.25rem;
  --ax-primitive-4rule-8: 0.5rem;
  --ax-primitive-4rule-12: 0.75rem;
  --ax-primitive-4rule-16: 1rem;
  --ax-primitive-4rule-20: 1.25rem;
  --ax-primitive-4rule-24: 1.5rem;
  --ax-primitive-4rule-28: 1.75rem;
  --ax-primitive-4rule-32: 2rem;
  --ax-primitive-4rule-36: 2.25rem;
  --ax-primitive-4rule-40: 2.5rem;
  --ax-primitive-4rule-44: 2.75rem;
  --ax-primitive-4rule-48: 3rem;
  --ax-primitive-4rule-52: 3.25rem;
  --ax-primitive-4rule-56: 3.5rem;
  --ax-primitive-4rule-60: 3.75rem;
  --ax-primitive-4rule-64: 4rem;
  --ax-primitive-even-0: 0rem;
  --ax-primitive-even-2: 0.125rem;
  --ax-primitive-even-4: 0.25rem;
  --ax-primitive-even-6: 0.375rem;
  --ax-primitive-even-8: 0.5rem;
  --ax-primitive-even-10: 0.625rem;
  --ax-primitive-even-12: 0.75rem;
  --ax-primitive-even-14: 0.875rem;
  --ax-primitive-even-16: 1rem;
  --ax-primitive-even-18: 1.125rem;
  --ax-primitive-even-20: 1.25rem;
  --ax-primitive-even-100: 6.25rem;
  --ax-primitive-odd-1: 0.062rem;
  --ax-primitive-odd-3: 0.188rem;
  --ax-primitive-odd-5: 0.312rem;
  --ax-primitive-odd-7: 0.438rem;
  --ax-primitive-odd-9: 0.562rem;
  --ax-primitive-odd-11: 0.688rem;
  --ax-primitive-odd-13: 0.812rem;
  --ax-primitive-odd-15: 0.938rem;
  --ax-primitive-even-negative-2: -0.125rem;
  --ax-primitive-even-negative-4: -0.25rem;
  --ax-primitive-even-negative-6: -0.375rem;
  --ax-primitive-even-negative-8: -0.5rem;
  --ax-primitive-even-negative-10: -0.625rem;
  --ax-primitive-even-negative-12: -0.75rem;
  --ax-primitive-even-negative-14: -0.875rem;
  --ax-primitive-even-negative-16: -1rem;
  --ax-token-spacing-spacing-32: var(--ax-primitive-4rule-32);
  --ax-token-spacing-spacing-24: var(--ax-primitive-4rule-24);
  --ax-token-spacing-spacing-20: var(--ax-primitive-4rule-20);
  --ax-token-spacing-spacing-16: var(--ax-primitive-4rule-16);
  --ax-token-spacing-spacing-12: var(--ax-primitive-4rule-12);
  --ax-token-spacing-spacing-8: var(--ax-primitive-4rule-8);
  --ax-token-spacing-spacing-4: var(--ax-primitive-4rule-4);
  --ax-token-spacing-spacing-10: var(--ax-primitive-even-10);
  --ax-token-spacing-button-xl-h-pad-1: var(--ax-primitive-4rule-16);
  --ax-token-spacing-button-xl-h-pad-2: var(--ax-primitive-4rule-12);
  --ax-token-spacing-button-xl-gap: var(--ax-primitive-4rule-8);
  --ax-token-spacing-button-xl-v-pad-1: var(--ax-primitive-4rule-16);
  --ax-token-spacing-button-xl-v-pad-2: var(--ax-primitive-4rule-12);
  --ax-token-spacing-button-l-h-pad-1: var(--ax-primitive-4rule-16);
  --ax-token-spacing-button-l-h-pad-2: var(--ax-primitive-4rule-12);
  --ax-token-spacing-button-l-v-pad-1: var(--ax-primitive-4rule-16);
  --ax-token-spacing-button-l-v-pad-2: var(--ax-primitive-odd-11);
  --ax-token-spacing-button-l-gap: var(--ax-primitive-4rule-8);
  --ax-token-spacing-button-m-h-pad-1: var(--ax-primitive-4rule-12);
  --ax-token-spacing-button-m-h-pad-2: var(--ax-primitive-4rule-12);
  --ax-token-spacing-button-m-v-pad-1: var(--ax-primitive-4rule-12);
  --ax-token-spacing-button-m-v-pad-2: var(--ax-primitive-odd-9);
  --ax-token-spacing-button-m-gap: var(--ax-primitive-4rule-8);
  --ax-token-spacing-button-s-h-pad-1: var(--ax-primitive-even-10);
  --ax-token-spacing-button-s-h-pad-2: var(--ax-primitive-even-10);
  --ax-token-spacing-button-s-v-pad-1: var(--ax-primitive-even-10);
  --ax-token-spacing-button-s-v-pad-2: var(--ax-primitive-odd-7);
  --ax-token-spacing-button-s-gap: var(--ax-primitive-4rule-8);
  --ax-token-spacing-button-xs-h-pad-1: var(--ax-primitive-4rule-8);
  --ax-token-spacing-button-xs-h-pad-2: var(--ax-primitive-4rule-8);
  --ax-token-spacing-button-xs-v-pad-1: var(--ax-primitive-4rule-8);
  --ax-token-spacing-button-xs-v-pad-2: var(--ax-primitive-even-6);
  --ax-token-spacing-button-xs-gap: var(--ax-primitive-4rule-8);
  --ax-token-spacing-button-xxs-h-pad: var(--ax-primitive-even-6);
  --ax-token-spacing-button-xxs-v-pad: var(--ax-primitive-even-6);
  --ax-token-spacing-button-xxxs-h-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-button-xxxs-v-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-button-xxxxs-h-pad: var(--ax-primitive-odd-3);
  --ax-token-spacing-button-xxxxs-v-pad: var(--ax-primitive-odd-3);
  --ax-token-spacing-input-l-h-pad: var(--ax-primitive-4rule-12);
  --ax-token-spacing-input-l-v-pad: var(--ax-primitive-odd-11);
  --ax-token-spacing-input-l-gap: var(--ax-primitive-even-8);
  --ax-token-spacing-input-m-h-pad: var(--ax-primitive-4rule-12);
  --ax-token-spacing-input-m-v-pad: var(--ax-primitive-even-10);
  --ax-token-spacing-input-m-gap: var(--ax-primitive-even-8);
  --ax-token-spacing-input-s-h-pad: var(--ax-primitive-4rule-12);
  --ax-token-spacing-input-s-v-pad: var(--ax-primitive-even-8);
  --ax-token-spacing-input-s-gap: var(--ax-primitive-even-8);
  --ax-token-spacing-dropdown-item-l-h-pad: var(--ax-primitive-even-8);
  --ax-token-spacing-dropdown-item-l-v-pad: var(--ax-primitive-odd-11);
  --ax-token-spacing-dropdown-item-l-gap: var(--ax-primitive-even-12);
  --ax-token-spacing-dropdown-item-m-h-pad: var(--ax-primitive-even-8);
  --ax-token-spacing-dropdown-item-m-v-pad: var(--ax-primitive-even-10);
  --ax-token-spacing-dropdown-item-m-gap: var(--ax-primitive-even-12);
  --ax-token-spacing-dropdown-item-s-h-pad: var(--ax-primitive-even-8);
  --ax-token-spacing-dropdown-item-s-v-pad: var(--ax-primitive-even-8);
  --ax-token-spacing-dropdown-item-s-gap: var(--ax-primitive-even-12);
  --ax-token-spacing-snackbar-h-pad-1: var(--ax-primitive-4rule-16);
  --ax-token-spacing-snackbar-v-pad-1: var(--ax-primitive-4rule-16);
  --ax-token-spacing-snackbar-v-pad-2: var(--ax-primitive-4rule-12);
  --ax-token-spacing-snackbar-gap-1: var(--ax-primitive-4rule-12);
  --ax-token-spacing-snackbar-gap-2: var(--ax-primitive-4rule-32);
  --ax-token-spacing-node-head-icon: var(--ax-primitive-even-10);
  --ax-token-spacing-node-head-h-pad: var(--ax-primitive-even-8);
  --ax-token-spacing-node-head-v-pad: var(--ax-primitive-even-8);
  --ax-token-spacing-node-head-gap: var(--ax-primitive-even-8);
  --ax-token-spacing-modal-m-header-pad: var(--ax-primitive-4rule-16);
  --ax-token-spacing-modal-m-header-gap: var(--ax-primitive-4rule-12);
  --ax-token-spacing-modal-m-content-h-pad: var(--ax-primitive-4rule-16);
  --ax-token-spacing-modal-m-content-gap: var(--ax-primitive-4rule-20);
  --ax-token-spacing-modal-l-header-pad: var(--ax-primitive-4rule-24);
  --ax-token-spacing-modal-l-header-gap: var(--ax-primitive-4rule-12);
  --ax-token-spacing-modal-l-content-h-pad: var(--ax-primitive-4rule-24);
  --ax-token-spacing-modal-l-content-gap: var(--ax-primitive-4rule-24);
  --ax-token-spacing-modal-m-content-v-pad: var(--ax-primitive-4rule-24);
  --ax-token-spacing-modal-l-content-v-pad: var(--ax-primitive-4rule-24);
  --ax-token-spacing-product-tour-pad: var(--ax-primitive-4rule-24);
  --ax-token-spacing-product-tour-gap: var(--ax-primitive-4rule-12);
  --ax-token-spacing-chips-l-h-pad: var(--ax-primitive-even-6);
  --ax-token-spacing-chips-l-v-pad: var(--ax-primitive-odd-5);
  --ax-token-spacing-chips-l-gap: var(--ax-primitive-even-4);
  --ax-token-spacing-chips-m-h-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-chips-m-v-pad: var(--ax-primitive-odd-3);
  --ax-token-spacing-chips-m-gap: var(--ax-primitive-even-4);
  --ax-token-spacing-chips-s-h-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-chips-s-v-pad: var(--ax-primitive-even-2);
  --ax-token-spacing-chips-s-gap: var(--ax-primitive-even-4);
  --ax-token-spacing-chips-xl-h-pad: var(--ax-primitive-even-6);
  --ax-token-spacing-chips-xl-v-pad: var(--ax-primitive-odd-5);
  --ax-token-spacing-chips-xl-gap: var(--ax-primitive-even-4);
  --ax-token-spacing-tooltip-h-pad: var(--ax-primitive-even-12);
  --ax-token-spacing-tooltip-v-pad: var(--ax-primitive-even-8);
  --ax-token-spacing-tooltip-gap: var(--ax-primitive-even-4);
  --ax-token-spacing-top-navbar-h-pad: var(--ax-primitive-4rule-16);
  --ax-token-spacing-top-navbar-v-pad: var(--ax-primitive-4rule-12);
  --ax-token-spacing-top-navbar-gap: var(--ax-primitive-even-8);
  --ax-token-spacing-dropdown-wrap-s-h-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-dropdown-wrap-s-v-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-dropdown-wrap-s-gap: var(--ax-primitive-even-4);
  --ax-token-spacing-dropdown-wrap-m-h-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-dropdown-wrap-m-v-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-dropdown-wrap-m-gap: var(--ax-primitive-even-4);
  --ax-token-spacing-dropdown-wrap-l-h-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-dropdown-wrap-l-v-pad: var(--ax-primitive-even-4);
  --ax-token-spacing-dropdown-wrap-l-gap: var(--ax-primitive-even-4);
  --ax-token-spacing-checkbox-m-pad: var(--ax-primitive-odd-3);
  --ax-token-spacing-checkbox-s-pad: var(--ax-primitive-odd-3);
  --ax-token-spacing-checkbox-xs-pad: var(--ax-primitive-odd-3);
  --ax-token-spacing-radiobutton-m-pad: var(--ax-primitive-odd-5);
  --ax-token-spacing-radiobutton-s-pad: var(--ax-primitive-odd-5);
  --ax-token-spacing-radiobutton-xs-pad: var(--ax-primitive-even-4);
  --ax-token-radius-element-4: var(--ax-primitive-4rule-4);
  --ax-token-radius-element-8: var(--ax-primitive-4rule-8);
  --ax-token-radius-element-12: var(--ax-primitive-4rule-12);
  --ax-token-radius-element-16: var(--ax-primitive-4rule-16);
  --ax-token-radius-element-20: var(--ax-primitive-4rule-20);
  --ax-token-radius-element-24: var(--ax-primitive-4rule-24);
  --ax-token-radius-button-xl: var(--ax-primitive-even-8);
  --ax-token-radius-button-l: var(--ax-primitive-even-8);
  --ax-token-radius-button-m: var(--ax-primitive-even-6);
  --ax-token-radius-button-s: var(--ax-primitive-even-4);
  --ax-token-radius-button-xs: var(--ax-primitive-even-4);
  --ax-token-radius-button-round: var(--ax-primitive-even-100);
  --ax-token-radius-button-xxs: var(--ax-primitive-even-4);
  --ax-token-radius-button-xxxs: var(--ax-primitive-even-4);
  --ax-token-radius-button-xxxxs: var(--ax-primitive-even-4);
  --ax-token-radius-segment-picker-shell: var(--ax-primitive-even-6);
  --ax-token-radius-segment-picker-element: var(--ax-primitive-even-4);
  --ax-token-radius-input-l: var(--ax-primitive-even-8);
  --ax-token-radius-input-m: var(--ax-primitive-even-6);
  --ax-token-radius-input-s: var(--ax-primitive-even-6);
  --ax-token-radius-dropdown-item-l: var(--ax-primitive-even-6);
  --ax-token-radius-dropdown-item-m: var(--ax-primitive-even-6);
  --ax-token-radius-dropdown-item-s: var(--ax-primitive-even-6);
  --ax-token-radius-snackbar: var(--ax-primitive-even-8);
  --ax-token-radius-node-head-icon: var(--ax-primitive-even-8);
  --ax-token-radius-node-head: var(--ax-primitive-4rule-12);
  --ax-token-radius-modal-l: var(--ax-primitive-4rule-16);
  --ax-token-radius-modal-m: var(--ax-primitive-4rule-16);
  --ax-token-radius-product-tour: var(--ax-primitive-4rule-16);
  --ax-token-radius-product-tour-img: var(--ax-primitive-4rule-8);
  --ax-token-radius-chips-l: var(--ax-primitive-even-4);
  --ax-token-radius-chips-m: var(--ax-primitive-even-4);
  --ax-token-radius-chips-s: var(--ax-primitive-even-4);
  --ax-token-radius-chips-xl: var(--ax-primitive-even-4);
  --ax-token-radius-tooltip: var(--ax-primitive-even-8);
  --ax-token-radius-shell: var(--ax-primitive-even-12);
  --ax-token-radius-dropdown-wrap-l: var(--ax-primitive-even-8);
  --ax-token-radius-dropdown-wrap-m: var(--ax-primitive-even-8);
  --ax-token-radius-dropdown-wrap-s: var(--ax-primitive-even-8);
  --ax-token-radius-checkbox-m: var(--ax-primitive-even-4);
  --ax-token-radius-checkbox-s: var(--ax-primitive-even-4);
  --ax-token-radius-checkbox-xs: var(--ax-primitive-even-4);
  --ax-token-radius-radiobutton: var(--ax-primitive-even-100);
  --ax-token-shadow-shadow-xs-x: var(--ax-primitive-even-0);
  --ax-token-shadow-shadow-xs-y: var(--ax-primitive-4rule-4);
  --ax-token-shadow-shadow-xs-blur: var(--ax-primitive-4rule-8);
  --ax-token-shadow-shadow-xs-spread: var(--ax-primitive-even-negative-2);
  --ax-token-shadow-shadow-s-x: var(--ax-primitive-even-0);
  --ax-token-shadow-shadow-s-y: var(--ax-primitive-4rule-8);
  --ax-token-shadow-shadow-s-blur: var(--ax-primitive-4rule-16);
  --ax-token-shadow-shadow-s-spread: var(--ax-primitive-even-negative-4);
  --ax-token-shadow-shadow-m-x: var(--ax-primitive-even-0);
  --ax-token-shadow-shadow-m-y: var(--ax-primitive-4rule-12);
  --ax-token-shadow-shadow-m-blur: var(--ax-primitive-4rule-24);
  --ax-token-shadow-shadow-m-spread: var(--ax-primitive-even-negative-6);
  --ax-token-shadow-shadow-l-blur: var(--ax-primitive-4rule-32);
  --ax-token-shadow-shadow-l-spread: var(--ax-primitive-even-negative-8);
  --ax-token-shadow-shadow-l-x: var(--ax-primitive-even-0);
  --ax-token-shadow-shadow-l-y: var(--ax-primitive-4rule-16);
  --ax-token-shadow-shadow-xl-x: var(--ax-primitive-even-0);
  --ax-token-shadow-shadow-xl-y: var(--ax-primitive-4rule-24);
  --ax-token-shadow-shadow-xl-blur: var(--ax-primitive-4rule-48);
  --ax-token-shadow-shadow-xl-spread: var(--ax-primitive-even-negative-12);
  --ax-token-shadow-focus-node-active-blur: var(--ax-primitive-even-0);
  --ax-token-shadow-focus-node-active-spread: var(--ax-primitive-even-4);
  --ax-token-shadow-focus-node-active-x: var(--ax-primitive-even-0);
  --ax-token-shadow-focus-node-active-y: var(--ax-primitive-even-0);
  --ax-token-shadow-focus-element-x: var(--ax-primitive-even-0);
  --ax-token-shadow-focus-element-y: var(--ax-primitive-even-0);
  --ax-token-shadow-focus-element-blur: var(--ax-primitive-even-0);
  --ax-token-shadow-focus-element-spread: var(--ax-primitive-even-2);
}

:root {
  --ax-colors-gray-100: #ffffff;
  --ax-colors-gray-200: #f5f5f7;
  --ax-colors-gray-300: #edeff3;
  --ax-colors-gray-400: #d5d8e0;
  --ax-colors-gray-500: #6f7480;
  --ax-colors-gray-600: #4d5059;
  --ax-colors-gray-700: #27282b;
  --ax-colors-gray-800: #151516;
  --ax-colors-gray-900: #070708;
  --ax-colors-blue-100: #eef2fd;
  --ax-colors-blue-200: #e3e8f5;
  --ax-colors-blue-300: #d0d8eb;
  --ax-colors-blue-400: #336dff;
  --ax-colors-blue-500: #2b5bd5;
  --ax-colors-blue-600: #2249ab;
  --ax-colors-green-100: #e9f7ee;
  --ax-colors-green-200: #c2edd1;
  --ax-colors-green-300: #29974e;
  --ax-colors-green-400: #007c29;
  --ax-colors-orange-100: #f7f2e9;
  --ax-colors-orange-200: #eddfc2;
  --ax-colors-orange-300: #ffaf10;
  --ax-colors-orange-400: #e59800;
  --ax-colors-red-100: #f7e9e9;
  --ax-colors-red-200: #edc2c2;
  --ax-colors-red-300: #deadad;
  --ax-colors-red-400: #962929;
  --ax-colors-red-500: #7d0000;
  --ax-colors-red-600: #670000;
  --ax-colors-gray-650: #383a40;
  --ax-colors-gray-450: #bdc1cc;
  --ax-colors-green-400-10: rgba(0, 124, 41, 0.1);
  --ax-colors-orange-400-10: rgba(229, 152, 0, 0.1);
  --ax-colors-red-400-10: rgba(150, 41, 41, 0.1);
  --ax-colors-red-400-20: rgba(150, 41, 41, 0.2);
  --ax-colors-red-400-50: rgba(150, 41, 41, 0.5);
  --ax-colors-gray-100-50: rgba(255, 255, 255, 0.5);
  --ax-colors-gray-100-30: rgba(255, 255, 255, 0.3);
  --ax-colors-gray-900-50: rgba(7, 7, 8, 0.5);
  --ax-colors-gray-900-30: rgba(7, 7, 8, 0.3);
  --ax-colors-gray-100-75: rgba(255, 255, 255, 0.75);
  --ax-colors-red-400-30: rgba(150, 41, 41, 0.3);
  --ax-colors-red-100-10: rgba(247, 233, 233, 0.1);
  --ax-colors-red-100-20: rgba(247, 233, 233, 0.2);
  --ax-colors-red-100-30: rgba(247, 233, 233, 0.3);
  --ax-colors-red-100-50: rgba(247, 233, 233, 0.5);
  --ax-colors-blue-400-10: rgba(51, 109, 255, 0.1);
  --ax-colors-blue-400-20: rgba(51, 109, 255, 0.2);
  --ax-colors-blue-400-30: rgba(51, 109, 255, 0.3);
  --ax-colors-blue-400-50: rgba(51, 109, 255, 0.5);
  --ax-colors-green-400-20: rgba(0, 124, 41, 0.2);
  --ax-colors-green-400-30: rgba(0, 124, 41, 0.3);
  --ax-colors-green-400-50: rgba(0, 124, 41, 0.5);
  --ax-colors-orange-400-20: rgba(229, 152, 0, 0.2);
  --ax-colors-orange-400-30: rgba(229, 152, 0, 0.3);
  --ax-colors-orange-400-50: rgba(229, 152, 0, 0.5);
  --ax-colors-gray-100-10: rgba(255, 255, 255, 0.1);
  --ax-colors-gray-100-20: rgba(255, 255, 255, 0.2);
  --ax-colors-gray-900-10: rgba(7, 7, 8, 0.1);
  --ax-colors-gray-900-20: rgba(7, 7, 8, 0.2);
  --ax-colors-gray-900-5: rgba(7, 7, 8, 0.05);
  --ax-colors-gray-900-75: rgba(7, 7, 8, 0.5);
  --ax-colors-gray-100-5: rgba(255, 255, 255, 0.05);
  --ax-colors-blue-350: #729aff;
  --ax-colors-acc1-50: #f0f8ff;
  --ax-colors-acc1-100: #e0f0fe;
  --ax-colors-acc1-200: #bbe2fc;
  --ax-colors-acc1-300: #5fbefa;
  --ax-colors-acc1-400: #3ab0f6;
  --ax-colors-acc1-500: #1096e7;
  --ax-colors-acc1-600: #0477c5;
  --ax-colors-acc1-700: #045fa0;
  --ax-colors-acc1-800: #085184;
  --ax-colors-acc1-900: #0d446d;
  --ax-colors-acc1-950: #092b48;
  --ax-colors-acc1-500-10: rgba(16, 150, 231, 0.1);
  --ax-colors-acc1-500-20: rgba(16, 150, 231, 0.2);
  --ax-colors-acc1-500-30: rgba(16, 150, 231, 0.3);
  --ax-colors-acc1-500-50: rgba(16, 150, 231, 0.5);
  --ax-colors-acc1-500-40: rgba(16, 150, 231, 0.4);
  --ax-colors-acc1-950-10: rgba(9, 43, 72, 0.1);
  --ax-colors-acc1-950-20: rgba(9, 43, 72, 0.2);
  --ax-colors-acc1-950-30: rgba(9, 43, 72, 0.3);
  --ax-colors-acc1-950-50: rgba(9, 43, 72, 0.5);
  --ax-colors-acc1-950-40: rgba(9, 43, 72, 0.4);
  --ax-colors-acc2-50: #fef2f2;
  --ax-colors-acc2-100: #fee3e2;
  --ax-colors-acc2-200: #fdcdcb;
  --ax-colors-acc2-300: #fa928e;
  --ax-colors-acc2-400: #f77772;
  --ax-colors-acc2-500: #ed4c46;
  --ax-colors-acc2-500-10: rgba(237, 76, 70, 0.1);
  --ax-colors-acc2-500-20: rgba(237, 76, 70, 0.2);
  --ax-colors-acc2-500-30: rgba(237, 76, 70, 0.3);
  --ax-colors-acc2-500-40: rgba(237, 76, 70, 0.4);
  --ax-colors-acc2-500-50: rgba(237, 76, 70, 0.5);
  --ax-colors-acc2-600: #da2f28;
  --ax-colors-acc2-700: #b7241e;
  --ax-colors-acc2-800: #98211c;
  --ax-colors-acc2-900: #7e221e;
  --ax-colors-acc2-950: #440d0b;
  --ax-colors-acc2-950-10: rgba(68, 13, 11, 0.1);
  --ax-colors-acc2-950-20: rgba(68, 13, 11, 0.2);
  --ax-colors-acc2-950-30: rgba(68, 13, 11, 0.3);
  --ax-colors-acc2-950-40: rgba(68, 13, 11, 0.4);
  --ax-colors-acc2-950-50: rgba(68, 13, 11, 0.5);
  --ax-colors-acc3-50: #effef7;
  --ax-colors-acc3-100: #cafde6;
  --ax-colors-acc3-200: #7efac4;
  --ax-colors-acc3-300: #57f1b1;
  --ax-colors-acc3-400: #24dd90;
  --ax-colors-acc3-500: #0bc175;
  --ax-colors-acc3-600: #069b62;
  --ax-colors-acc3-700: #0a7b52;
  --ax-colors-acc3-800: #0d6244;
  --ax-colors-acc3-900: #10513b;
  --ax-colors-acc3-950: #023121;
  --ax-colors-acc4-50: #fbf5ff;
  --ax-colors-acc4-100: #f6e9fe;
  --ax-colors-acc4-200: #eed6fe;
  --ax-colors-acc4-300: #e0b6fc;
  --ax-colors-acc4-400: #d395f9;
  --ax-colors-acc4-500: #ba5af2;
  --ax-colors-acc4-600: #a839e4;
  --ax-colors-acc4-700: #9127c9;
  --ax-colors-acc4-800: #7a25a4;
  --ax-colors-acc4-900: #641f84;
  --ax-colors-acc4-950: #450a61;
  --ax-colors-acc5-50: #fff4ed;
  --ax-colors-acc5-100: #fee7d6;
  --ax-colors-acc5-200: #fccdac;
  --ax-colors-acc5-300: #faae73;
  --ax-colors-acc5-400: #f79240;
  --ax-colors-acc5-500: #f4841b;
  --ax-colors-acc5-600: #e57711;
  --ax-colors-acc5-700: #be5310;
  --ax-colors-acc5-800: #973c15;
  --ax-colors-acc5-900: #7a2f14;
  --ax-colors-acc5-950: #421608;
  --ax-colors-acc3-500-10: rgba(11, 193, 117, 0.1);
  --ax-colors-acc3-500-20: rgba(11, 193, 117, 0.2);
  --ax-colors-acc3-500-30: rgba(11, 193, 117, 0.3);
  --ax-colors-acc3-500-50: rgba(11, 193, 117, 0.5);
  --ax-colors-acc4-500-10: rgba(186, 90, 242, 0.1);
  --ax-colors-acc4-500-20: rgba(186, 90, 242, 0.2);
  --ax-colors-acc4-500-30: rgba(186, 90, 242, 0.3);
  --ax-colors-acc4-500-50: rgba(186, 90, 242, 0.5);
  --ax-colors-acc5-500-10: rgba(244, 132, 27, 0.1);
  --ax-colors-acc5-500-20: rgba(244, 132, 27, 0.2);
  --ax-colors-acc5-500-30: rgba(244, 132, 27, 0.3);
  --ax-colors-acc5-500-50: rgba(244, 132, 27, 0.5);
  --ax-colors-acc3-500-40: rgba(11, 193, 117, 0.4);
  --ax-colors-acc4-500-40: rgba(186, 90, 242, 0.4);
  --ax-colors-acc5-500-40: rgba(244, 132, 27, 0.4);
}

/* html[data-theme="dark"] {
  --ax-button-primary-bg-default: var(--ax-colors-acc1-500);
  --ax-button-primary-bg-hover: var(--ax-colors-acc1-600);
  --ax-button-primary-bg-active: var(--ax-colors-acc1-700);
  --ax-button-primary-bg-focus: var(--ax-colors-acc1-500);
  --ax-button-primary-bg-loading: var(--ax-colors-acc1-500);
  --ax-button-primary-bg-disabled: var(--ax-colors-gray-600);
  --ax-button-gray-bg-default: var(--ax-colors-gray-650);
  --ax-button-gray-bg-hover: var(--ax-colors-gray-600);
  --ax-button-gray-bg-active: var(--ax-colors-gray-500);
  --ax-button-gray-bg-focus: var(--ax-colors-gray-650);
  --ax-button-gray-bg-loading: var(--ax-colors-gray-650);
  --ax-button-gray-bg-disabled: var(--ax-colors-gray-500);
  --ax-button-red-bg-default: var(--ax-colors-red-400);
  --ax-button-red-bg-hover: var(--ax-colors-red-500);
  --ax-button-red-bg-active: var(--ax-colors-red-600);
  --ax-button-red-bg-focus: var(--ax-colors-red-400);
  --ax-button-red-bg-loading: var(--ax-colors-red-400);
  --ax-button-red-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-green-bg-default: var(--ax-colors-green-300);
  --ax-button-green-bg-hover: var(--ax-colors-green-400);
  --ax-button-green-bg-active: var(--ax-colors-green-300);
  --ax-button-green-bg-focus: var(--ax-colors-green-300);
  --ax-button-green-bg-loading: var(--ax-colors-green-300);
  --ax-button-green-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-orange-bg-default: var(--ax-colors-orange-300);
  --ax-button-orange-bg-hover: var(--ax-colors-orange-400);
  --ax-button-orange-bg-active: var(--ax-colors-orange-300);
  --ax-button-orange-bg-focus: var(--ax-colors-orange-300);
  --ax-button-orange-bg-loading: var(--ax-colors-orange-300);
  --ax-ui-bg-primary-default: var(--ax-colors-gray-700);
  --ax-ui-stroke-primary-default: var(--ax-colors-gray-650);
  --ax-node-bg-primary-default: var(--ax-colors-gray-700);
  --ax-node-stroke-primary-default: var(--ax-colors-gray-600);
  --ax-node-stroke-primary-hover: var(--ax-colors-acc1-400);
  --ax-txt-primary-default: var(--ax-colors-gray-100);
  --ax-ui-bg-secondary-default: var(--ax-colors-gray-650);
  --ax-txt-secondary-default: var(--ax-colors-gray-400);
  --ax-txt-tertiary-default: var(--ax-colors-gray-500);
  --ax-ui-bg-tertiary-default: var(--ax-colors-gray-800);
  --ax-node-bg-secondary-default: var(--ax-colors-gray-800);
  --ax-input-stroke-primary-default: var(--ax-colors-gray-600);
  --ax-input-stroke-primary-focus: var(--ax-colors-acc1-500);
  --ax-input-stroke-primary-error: var(--ax-colors-red-400);
  --ax-input-stroke-primary-success: var(--ax-colors-green-400);
  --ax-txt-quaternary-default: var(--ax-colors-gray-600);
  --ax-txt-error-default: var(--ax-colors-red-100);
  --ax-txt-success-default: var(--ax-colors-green-200);
  --ax-input-bg-primary-success: var(--ax-colors-green-400-10);
  --ax-input-bg-primary-error: var(--ax-colors-red-400-10);
  --ax-dropdown-bg-primary-default: var(--ax-colors-gray-650);
  --ax-dropdown-bg-secondary-active: var(--ax-colors-acc1-500);
  --ax-dropdown-bg-destructive-hover: var(--ax-colors-red-400-50);
  --ax-dropdown-bg-secondary-default: var(--ax-colors-gray-600);
  --ax-ui-bg-tertiary-selected: var(--ax-colors-acc1-600);
  --ax-nav-button-bg-primary-hover: var(--ax-colors-gray-100-5);
  --ax-nav-button-icon-primary-default: var(--ax-colors-gray-400);
  --ax-nav-button-icon-primary-active: var(--ax-colors-acc1-500);
  --ax-nav-button-icon-primary-disabled: var(--ax-colors-gray-600);
  --ax-ui-stroke-primary-focus: var(--ax-colors-gray-500);
  --ax-txt-primary-white: var(--ax-colors-gray-100);
  --ax-ui-separator-primary-default: var(--ax-colors-gray-600);
  --ax-ui-stroke-secondary-default: var(--ax-colors-gray-600);
  --ax-txt-primary-disabled: var(--ax-colors-gray-100-30);
  --ax-pt-bg-primary-default: var(--ax-colors-gray-200);
  --ax-pt-stroke-primary-default: var(--ax-colors-gray-300);
  --ax-txt-secondary-inverse: var(--ax-colors-gray-700);
  --ax-button-ghost-destructive-bg-default: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-hover: var(--ax-colors-red-400-20);
  --ax-button-ghost-destructive-bg-active: var(--ax-colors-red-400-30);
  --ax-button-ghost-destructive-bg-focus: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-loading: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-disabled: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-stroke-default: var(--ax-colors-red-400);
  --ax-txt-destuctive-default: var(--ax-colors-red-100);
  --ax-txt-destructive-disabled: var(--ax-colors-red-100-30);
  --ax-dropdown-bg-destructive-default: var(--ax-colors-red-400-30);
  --ax-snackbar-bg-default: var(--ax-colors-gray-100-10);
  --ax-snackbar-bg-information: var(--ax-colors-acc1-500-10);
  --ax-snackbar-bg-warning: var(--ax-colors-orange-400-10);
  --ax-snackbar-bg-success: var(--ax-colors-green-400-10);
  --ax-snackbar-bg-error: var(--ax-colors-red-400-10);
  --ax-txt-info-default: var(--ax-colors-acc1-200);
  --ax-txt-warning-default: var(--ax-colors-orange-100);
  --ax-node-icon-primary-default: var(--ax-colors-acc1-400);
  --ax-node-icon-primary-disabled: var(--ax-colors-gray-100-30);
  --ax-node-txt-disabled: var(--ax-colors-gray-100-30);
  --ax-node-bg-primary-disabled: var(--ax-colors-gray-800);
  --ax-tooltip-bg-default: var(--ax-colors-gray-300);
  --ax-tooltip-bg-blue: var(--ax-colors-acc1-800);
  --ax-nav-button-icon-primary-hover: var(--ax-colors-gray-100);
  --ax-node-bg-primary-hover: var(--ax-colors-acc1-950-10);
  --ax-ui-canvas-dots-default: var(--ax-colors-gray-650);
  --ax-txt-tooltip-bw: var(--ax-colors-gray-800);
  --ax-txt-tooltip-blue: var(--ax-colors-gray-100);
  --ax-node-port-fill-default: var(--ax-colors-gray-100);
  --ax-node-port-fill-active: var(--ax-colors-acc1-500);
  --ax-node-port-stroke-default: var(--ax-colors-gray-500);
  --ax-node-port-stroke-active: var(--ax-colors-gray-100);
  --ax-node-notify-bg-default: var(--ax-colors-orange-400);
  --ax-node-notify-ico-default: var(--ax-colors-orange-100);
  --ax-scrollbar-bg-default: var(--ax-colors-gray-500);
  --ax-chips-neutral-txt: var(--ax-colors-gray-100);
  --ax-chips-neutral-bg: var(--ax-colors-gray-650);
  --ax-chips-neutral-icon: var(--ax-colors-acc1-400);
  --ax-chips-neutral-x: var(--ax-colors-gray-450);
  --ax-shadow: var(--ax-colors-gray-900-50);
  --ax-focus-ring-node-active: var(--ax-colors-acc1-500-40);
  --ax-chips-acc1-bg: var(--ax-colors-acc1-500-10);
  --ax-chips-acc1-txt: var(--ax-colors-acc1-300);
  --ax-chips-acc1-icon: var(--ax-colors-acc1-300);
  --ax-chips-acc1-x: var(--ax-colors-acc1-300);
  --ax-chips-acc1-stroke: var(--ax-colors-acc1-300);
  --ax-chips-acc2-bg: var(--ax-colors-acc2-500-10);
  --ax-chips-acc2-stroke: var(--ax-colors-acc2-300);
  --ax-chips-acc2-txt: var(--ax-colors-acc2-300);
  --ax-chips-acc2-icon: var(--ax-colors-acc2-300);
  --ax-chips-acc2-x: var(--ax-colors-acc2-300);
  --ax-chips-acc3-bg: var(--ax-colors-acc3-500-10);
  --ax-chips-acc3-stroke: var(--ax-colors-acc3-300);
  --ax-chips-acc3-txt: var(--ax-colors-acc3-300);
  --ax-chips-acc3-icon: var(--ax-colors-acc3-300);
  --ax-chips-acc3-x: var(--ax-colors-acc3-300);
  --ax-chips-acc4-bg: var(--ax-colors-acc4-500-10);
  --ax-chips-acc4-stroke: var(--ax-colors-acc4-300);
  --ax-chips-acc4-txt: var(--ax-colors-acc4-300);
  --ax-chips-acc4-icon: var(--ax-colors-acc4-300);
  --ax-chips-acc4-x: var(--ax-colors-acc4-300);
  --ax-chips-acc5-bg: var(--ax-colors-acc5-500-10);
  --ax-chips-acc5-stroke: var(--ax-colors-acc5-200);
  --ax-chips-acc5-txt: var(--ax-colors-acc5-200);
  --ax-chips-acc5-icon: var(--ax-colors-acc5-200);
  --ax-chips-acc5-x: var(--ax-colors-acc5-200);
  --ax-focus-ring-node-warning: var(--ax-colors-acc5-500-40);
  --ax-focus-ring-node-error: var(--ax-colors-acc2-500-40);
  --ax-txt-primary-inverse: var(--ax-colors-gray-800);
  --ax-node-bg-tertiary-default: var(--ax-colors-gray-650);
  --ax-node-bg-tertiary-hover: var(--ax-colors-gray-500);
  --ax-focus-ring-element: var(--ax-txt-primary-default);
} */

:root {
  --ax-button-primary-bg-default: var(--ax-colors-acc1-500);
  --ax-button-primary-bg-hover: var(--ax-colors-acc1-600);
  --ax-button-primary-bg-active: var(--ax-colors-acc1-700);
  --ax-button-primary-bg-focus: var(--ax-colors-acc1-500);
  --ax-button-primary-bg-loading: var(--ax-colors-acc1-500);
  --ax-button-primary-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-gray-bg-default: var(--ax-colors-gray-500);
  --ax-button-gray-bg-hover: var(--ax-colors-gray-600);
  --ax-button-gray-bg-active: var(--ax-colors-gray-650);
  --ax-button-gray-bg-focus: var(--ax-colors-gray-500);
  --ax-button-gray-bg-loading: var(--ax-colors-gray-500);
  --ax-button-gray-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-red-bg-default: var(--ax-colors-red-400);
  --ax-button-red-bg-hover: var(--ax-colors-red-500);
  --ax-button-red-bg-active: var(--ax-colors-red-600);
  --ax-button-red-bg-focus: var(--ax-colors-red-400);
  --ax-button-red-bg-loading: var(--ax-colors-red-400);
  --ax-button-red-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-green-bg-default: var(--ax-colors-green-300);
  --ax-button-green-bg-hover: var(--ax-colors-green-400);
  --ax-button-green-bg-active: var(--ax-colors-green-300);
  --ax-button-green-bg-focus: var(--ax-colors-green-300);
  --ax-button-green-bg-loading: var(--ax-colors-green-300);
  --ax-button-green-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-orange-bg-default: var(--ax-colors-orange-300);
  --ax-button-orange-bg-hover: var(--ax-colors-orange-400);
  --ax-button-orange-bg-active: var(--ax-colors-orange-300);
  --ax-button-orange-bg-focus: var(--ax-colors-orange-300);
  --ax-button-orange-bg-loading: var(--ax-colors-orange-300);
  --ax-ui-bg-primary-default: var(--ax-colors-gray-100);
  --ax-ui-stroke-primary-default: var(--ax-colors-gray-300);
  --ax-node-bg-primary-default: var(--ax-colors-gray-100);
  --ax-node-stroke-primary-default: var(--ax-colors-gray-400);
  --ax-node-stroke-primary-hover: var(--ax-colors-acc1-500);
  --ax-txt-primary-default: var(--ax-colors-gray-800);
  --ax-ui-bg-secondary-default: var(--ax-colors-gray-200);
  --ax-txt-secondary-default: var(--ax-colors-gray-600);
  --ax-txt-tertiary-default: var(--ax-colors-gray-500);
  --ax-ui-bg-tertiary-default: var(--ax-colors-gray-300);
  --ax-node-bg-secondary-default: var(--ax-colors-gray-200);
  --ax-input-stroke-primary-default: var(--ax-colors-gray-400);
  --ax-input-stroke-primary-focus: var(--ax-colors-acc1-500);
  --ax-input-stroke-primary-error: var(--ax-colors-red-400);
  --ax-input-stroke-primary-success: var(--ax-colors-green-400);
  --ax-txt-quaternary-default: var(--ax-colors-gray-450);
  --ax-txt-error-default: var(--ax-colors-red-400);
  --ax-txt-success-default: var(--ax-colors-green-400);
  --ax-input-bg-primary-success: var(--ax-colors-green-400-10);
  --ax-input-bg-primary-error: var(--ax-colors-red-400-10);
  --ax-dropdown-bg-primary-default: var(--ax-colors-gray-100);
  --ax-dropdown-bg-secondary-active: var(--ax-colors-acc1-600);
  --ax-dropdown-bg-destructive-hover: var(--ax-colors-red-400-20);
  --ax-dropdown-bg-secondary-default: var(--ax-colors-gray-300);
  --ax-ui-bg-tertiary-selected: var(--ax-colors-acc1-600);
  --ax-nav-button-bg-primary-hover: var(--ax-colors-gray-900-5);
  --ax-nav-button-icon-primary-default: var(--ax-colors-gray-600);
  --ax-nav-button-icon-primary-active: var(--ax-colors-acc1-600);
  --ax-nav-button-icon-primary-disabled: var(--ax-colors-gray-450);
  --ax-ui-stroke-primary-focus: var(--ax-colors-gray-500);
  --ax-txt-primary-white: var(--ax-colors-gray-100);
  --ax-ui-separator-primary-default: var(--ax-colors-gray-300);
  --ax-ui-stroke-secondary-default: var(--ax-colors-gray-400);
  --ax-txt-primary-disabled: var(--ax-colors-gray-100-75);
  --ax-pt-bg-primary-default: var(--ax-colors-gray-700);
  --ax-pt-stroke-primary-default: var(--ax-colors-gray-600);
  --ax-txt-secondary-inverse: var(--ax-colors-gray-300);
  --ax-button-ghost-destructive-bg-default: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-hover: var(--ax-colors-red-400-20);
  --ax-button-ghost-destructive-bg-active: var(--ax-colors-red-400-30);
  --ax-button-ghost-destructive-bg-focus: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-loading: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-disabled: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-stroke-default: var(--ax-colors-red-400);
  --ax-txt-destuctive-default: var(--ax-colors-red-400);
  --ax-txt-destructive-disabled: var(--ax-colors-red-400-50);
  --ax-dropdown-bg-destructive-default: var(--ax-colors-red-400-10);
  --ax-snackbar-bg-default: var(--ax-colors-gray-900-5);
  --ax-snackbar-bg-information: var(--ax-colors-acc1-500-10);
  --ax-snackbar-bg-warning: var(--ax-colors-orange-400-10);
  --ax-snackbar-bg-success: var(--ax-colors-green-400-10);
  --ax-snackbar-bg-error: var(--ax-colors-red-400-10);
  --ax-txt-info-default: var(--ax-colors-acc1-700);
  --ax-txt-warning-default: var(--ax-colors-orange-400);
  --ax-node-icon-primary-default: var(--ax-colors-acc1-500);
  --ax-node-icon-primary-disabled: var(--ax-colors-gray-900-30);
  --ax-node-txt-disabled: var(--ax-colors-gray-900-30);
  --ax-node-bg-primary-disabled: var(--ax-colors-gray-200);
  --ax-tooltip-bg-default: var(--ax-colors-gray-800);
  --ax-tooltip-bg-blue: var(--ax-colors-acc1-800);
  --ax-nav-button-icon-primary-hover: var(--ax-colors-gray-800);
  --ax-node-bg-primary-hover: var(--ax-colors-acc1-50);
  --ax-ui-canvas-dots-default: var(--ax-colors-gray-500);
  --ax-txt-tooltip-bw: var(--ax-colors-gray-100);
  --ax-txt-tooltip-blue: var(--ax-colors-gray-100);
  --ax-node-port-fill-default: var(--ax-colors-gray-100);
  --ax-node-port-fill-active: var(--ax-colors-acc1-500);
  --ax-node-port-stroke-default: var(--ax-colors-gray-500);
  --ax-node-port-stroke-active: var(--ax-colors-gray-100);
  --ax-node-notify-bg-default: var(--ax-colors-orange-400);
  --ax-node-notify-ico-default: var(--ax-colors-orange-100);
  --ax-scrollbar-bg-default: var(--ax-colors-gray-400);
  --ax-chips-neutral-txt: var(--ax-colors-gray-800);
  --ax-chips-neutral-bg: var(--ax-colors-gray-300);
  --ax-chips-neutral-icon: var(--ax-colors-acc1-500);
  --ax-chips-neutral-x: var(--ax-colors-gray-500);
  --ax-shadow: var(--ax-colors-gray-900-20);
  --ax-focus-ring-node-active: var(--ax-colors-acc1-500-40);
  --ax-chips-acc1-bg: var(--ax-colors-acc1-500-10);
  --ax-chips-acc1-txt: var(--ax-colors-acc1-600);
  --ax-chips-acc1-icon: var(--ax-colors-acc1-600);
  --ax-chips-acc1-x: var(--ax-colors-acc1-600);
  --ax-chips-acc1-stroke: var(--ax-colors-acc1-600);
  --ax-chips-acc2-bg: var(--ax-colors-acc2-500-10);
  --ax-chips-acc2-stroke: var(--ax-colors-acc2-600);
  --ax-chips-acc2-txt: var(--ax-colors-acc2-600);
  --ax-chips-acc2-icon: var(--ax-colors-acc2-600);
  --ax-chips-acc2-x: var(--ax-colors-acc2-600);
  --ax-chips-acc3-bg: var(--ax-colors-acc3-500-10);
  --ax-chips-acc3-stroke: var(--ax-colors-acc3-700);
  --ax-chips-acc3-txt: var(--ax-colors-acc3-700);
  --ax-chips-acc3-icon: var(--ax-colors-acc3-700);
  --ax-chips-acc3-x: var(--ax-colors-acc3-700);
  --ax-chips-acc4-bg: var(--ax-colors-acc4-500-10);
  --ax-chips-acc4-stroke: var(--ax-colors-acc4-600);
  --ax-chips-acc4-txt: var(--ax-colors-acc4-600);
  --ax-chips-acc4-icon: var(--ax-colors-acc4-600);
  --ax-chips-acc4-x: var(--ax-colors-acc4-600);
  --ax-chips-acc5-bg: var(--ax-colors-acc5-500-10);
  --ax-chips-acc5-stroke: var(--ax-colors-acc5-700);
  --ax-chips-acc5-txt: var(--ax-colors-acc5-700);
  --ax-chips-acc5-icon: var(--ax-colors-acc5-700);
  --ax-chips-acc5-x: var(--ax-colors-acc5-700);
  --ax-focus-ring-node-warning: var(--ax-colors-acc5-500-40);
  --ax-focus-ring-node-error: var(--ax-colors-acc2-500-40);
  --ax-txt-primary-inverse: var(--ax-colors-gray-100);
  --ax-node-bg-tertiary-default: var(--ax-colors-gray-500);
  --ax-node-bg-tertiary-hover: var(--ax-colors-gray-650);
  --ax-focus-ring-element: var(--ax-txt-primary-default);
}
