:root {
  --wb-token-spacing-spacing-32: var(--wb-primitive-4rule-32);
  --wb-token-radius-element-4: var(--wb-primitive-4rule-4);
  --wb-token-spacing-spacing-24: var(--wb-primitive-4rule-24);
  --wb-token-spacing-spacing-20: var(--wb-primitive-4rule-20);
  --wb-token-spacing-spacing-16: var(--wb-primitive-4rule-16);
  --wb-token-spacing-spacing-12: var(--wb-primitive-4rule-12);
  --wb-token-spacing-spacing-8: var(--wb-primitive-4rule-8);
  --wb-token-spacing-spacing-4: var(--wb-primitive-4rule-4);
  --wb-token-radius-element-8: var(--wb-primitive-4rule-8);
  --wb-token-radius-element-12: var(--wb-primitive-4rule-12);
  --wb-token-radius-element-16: var(--wb-primitive-4rule-16);
  --wb-token-radius-element-20: var(--wb-primitive-4rule-20);
  --wb-token-radius-element-24: var(--wb-primitive-4rule-24);
  --wb-primitive-4rule-0: 0px;
  --wb-primitive-4rule-4: 4px;
  --wb-primitive-4rule-8: 8px;
  --wb-primitive-4rule-16: 16px;
  --wb-primitive-4rule-12: 12px;
  --wb-primitive-4rule-20: 20px;
  --wb-primitive-4rule-24: 24px;
  --wb-primitive-4rule-28: 28px;
  --wb-primitive-4rule-32: 32px;
  --wb-primitive-even-0: 0px;
  --wb-primitive-even-2: 2px;
  --wb-primitive-even-4: 4px;
  --wb-primitive-even-6: 6px;
  --wb-primitive-even-8: 8px;
  --wb-primitive-even-10: 10px;
  --wb-primitive-even-12: 12px;
  --wb-primitive-even-100: 100px;
  --wb-primitive-odd-1: 1px;
  --wb-primitive-odd-3: 3px;
  --wb-primitive-odd-5: 5px;
  --wb-primitive-odd-7: 7px;
  --wb-primitive-odd-9: 9px;
  --wb-primitive-odd-11: 11px;
  --wb-primitive-odd-13: 13px;
  --wb-primitive-odd-15: 15px;
  --wb-primitive-4rule-36: 36px;
  --wb-primitive-4rule-40: 40px;
  --wb-primitive-4rule-44: 44px;
  --wb-primitive-4rule-48: 48px;
  --wb-primitive-4rule-52: 52px;
  --wb-primitive-4rule-56: 56px;
  --wb-primitive-4rule-60: 60px;
  --wb-primitive-4rule-64: 64px;
  --wb-token-spacing-spacing-10: var(--wb-primitive-even-10);
  --wb-token-spacing-button-xl-h-pad-1: var(--wb-primitive-4rule-16);
  --wb-token-spacing-button-xl-h-pad-2: var(--wb-primitive-4rule-12);
  --wb-token-spacing-button-xl-gap: var(--wb-primitive-4rule-8);
  --wb-token-spacing-button-xl-v-pad-1: var(--wb-primitive-4rule-16);
  --wb-token-spacing-button-xl-v-pad-2: var(--wb-primitive-4rule-12);
  --wb-token-spacing-button-l-h-pad-1: var(--wb-primitive-4rule-16);
  --wb-token-spacing-button-l-h-pad-2: var(--wb-primitive-4rule-12);
  --wb-token-spacing-button-l-v-pad-1: var(--wb-primitive-4rule-16);
  --wb-token-spacing-button-l-v-pad-2: var(--wb-primitive-odd-11);
  --wb-token-spacing-button-l-gap: var(--wb-primitive-4rule-8);
  --wb-token-spacing-button-m-h-pad-1: var(--wb-primitive-4rule-12);
  --wb-token-spacing-button-m-h-pad-2: var(--wb-primitive-4rule-12);
  --wb-token-spacing-button-m-v-pad-1: var(--wb-primitive-4rule-12);
  --wb-token-spacing-button-m-v-pad-2: var(--wb-primitive-odd-9);
  --wb-token-spacing-button-m-gap: var(--wb-primitive-4rule-8);
  --wb-token-spacing-button-s-h-pad-1: var(--wb-primitive-even-10);
  --wb-token-spacing-button-s-h-pad-2: var(--wb-primitive-even-10);
  --wb-token-spacing-button-s-v-pad-1: var(--wb-primitive-even-10);
  --wb-token-spacing-button-s-v-pad-2: var(--wb-primitive-odd-7);
  --wb-token-spacing-button-s-gap: var(--wb-primitive-4rule-8);
  --wb-token-spacing-button-xs-h-pad-1: var(--wb-primitive-4rule-8);
  --wb-token-spacing-button-xs-h-pad-2: var(--wb-primitive-4rule-8);
  --wb-token-spacing-button-xs-v-pad-1: var(--wb-primitive-4rule-8);
  --wb-token-spacing-button-xs-v-pad-2: var(--wb-primitive-even-6);
  --wb-token-spacing-button-xs-gap: var(--wb-primitive-4rule-8);
  --wb-token-radius-button-xl: var(--wb-primitive-even-8);
  --wb-token-radius-button-l: var(--wb-primitive-even-8);
  --wb-token-radius-button-m: var(--wb-primitive-even-6);
  --wb-token-radius-button-s: var(--wb-primitive-even-4);
  --wb-token-radius-button-xs: var(--wb-primitive-even-4);
  --wb-token-radius-button-round: var(--wb-primitive-even-100);
  --wb-token-radius-button-xxs: var(--wb-primitive-even-4);
  --wb-token-radius-button-xxxs: var(--wb-primitive-even-4);
  --wb-token-radius-button-xxxxs: var(--wb-primitive-even-4);
  --wb-token-spacing-button-xxs-h-pad: var(--wb-primitive-even-6);
  --wb-token-spacing-button-xxs-v-pad: var(--wb-primitive-even-6);
  --wb-token-spacing-button-xxxs-h-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-button-xxxs-v-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-button-xxxxs-h-pad: var(--wb-primitive-odd-3);
  --wb-token-spacing-button-xxxxs-v-pad: var(--wb-primitive-odd-3);
  --wb-token-radius-segment_picker_shell: var(--wb-primitive-even-6);
  --wb-token-radius-segment_picker_element: var(--wb-primitive-even-4);
  --wb-token-spacing-input-l-h-pad: var(--wb-primitive-4rule-12);
  --wb-token-spacing-input-l-v-pad: var(--wb-primitive-odd-11);
  --wb-token-spacing-input-l-gap: var(--wb-primitive-even-8);
  --wb-token-spacing-input-m-h-pad: var(--wb-primitive-4rule-12);
  --wb-token-spacing-input-m-v-pad: var(--wb-primitive-even-10);
  --wb-token-spacing-input-m-gap: var(--wb-primitive-even-8);
  --wb-token-spacing-input-s-h-pad: var(--wb-primitive-4rule-12);
  --wb-token-spacing-input-s-v-pad: var(--wb-primitive-even-8);
  --wb-token-spacing-input-s-gap: var(--wb-primitive-even-8);
  --wb-token-radius-input-l: var(--wb-primitive-even-8);
  --wb-token-radius-input-m: var(--wb-primitive-even-6);
  --wb-token-radius-input-s: var(--wb-primitive-even-6);
  --wb-token-spacing-dropdown-item-l-h-pad: var(--wb-primitive-even-8);
  --wb-token-spacing-dropdown-item-l-v-pad: var(--wb-primitive-odd-11);
  --wb-token-spacing-dropdown-item-l-gap: var(--wb-primitive-even-12);
  --wb-token-spacing-dropdown-item-m-h-pad: var(--wb-primitive-even-8);
  --wb-token-spacing-dropdown-item-m-v-pad: var(--wb-primitive-even-10);
  --wb-token-spacing-dropdown-item-m-gap: var(--wb-primitive-even-12);
  --wb-token-spacing-dropdown-item-s-h-pad: var(--wb-primitive-even-8);
  --wb-token-spacing-dropdown-item-s-v-pad: var(--wb-primitive-even-8);
  --wb-token-spacing-dropdown-item-s-gap: var(--wb-primitive-even-12);
  --wb-token-radius-dropdown-item-l: var(--wb-primitive-even-6);
  --wb-token-radius-dropdown-item-m: var(--wb-primitive-even-6);
  --wb-token-radius-dropdown-item-s: var(--wb-primitive-even-6);
  --wb-token-radius-snackbar: var(--wb-primitive-even-8);
  --wb-token-spacing-snackbar-h-pad-1: var(--wb-primitive-4rule-16);
  --wb-token-spacing-snackbar-v-pad-1: var(--wb-primitive-4rule-16);
  --wb-token-spacing-snackbar-v-pad-2: var(--wb-primitive-4rule-12);
  --wb-token-spacing-snackbar-gap-1: var(--wb-primitive-4rule-12);
  --wb-token-spacing-snackbar-gap-2: var(--wb-primitive-4rule-32);
  --wb-token-radius-node-head-icon: var(--wb-primitive-even-8);
  --wb-token-radius-node-head: var(--wb-primitive-4rule-12);
  --wb-token-spacing-node-head-icon: var(--wb-primitive-even-10);
  --wb-token-spacing-node-head-h-pad: var(--wb-primitive-even-8);
  --wb-token-spacing-node-head-v-pad: var(--wb-primitive-even-8);
  --wb-token-spacing-node-head-gap: var(--wb-primitive-even-8);
  --wb-token-radius-modal-l: var(--wb-primitive-4rule-16);
  --wb-token-radius-modal-m: var(--wb-primitive-4rule-16);
  --wb-token-spacing-modal-m-header-pad: var(--wb-primitive-4rule-16);
  --wb-token-spacing-modal-m-header-gap: var(--wb-primitive-4rule-12);
  --wb-token-spacing-modal-m-content-h-pad: var(--wb-primitive-4rule-16);
  --wb-token-spacing-modal-m-content-gap: var(--wb-primitive-4rule-20);
  --wb-token-spacing-modal-l-header-pad: var(--wb-primitive-4rule-24);
  --wb-token-spacing-modal-l-header-gap: var(--wb-primitive-4rule-12);
  --wb-token-spacing-modal-l-content-h-pad: var(--wb-primitive-4rule-24);
  --wb-token-spacing-modal-l-content-gap: var(--wb-primitive-4rule-24);
  --wb-token-spacing-modal-m-content-v-pad: var(--wb-primitive-4rule-24);
  --wb-token-spacing-modal-l-content-v-pad: var(--wb-primitive-4rule-24);
  --wb-token-radius-product-tour: var(--wb-primitive-4rule-16);
  --wb-token-radius-product-tour-img: var(--wb-primitive-4rule-8);
  --wb-token-spacing-product-tour-pad: var(--wb-primitive-4rule-24);
  --wb-token-spacing-product-tour-gap: var(--wb-primitive-4rule-12);
  --wb-token-spacing-chips-l-h-pad: var(--wb-primitive-even-6);
  --wb-token-spacing-chips-l-v-pad: var(--wb-primitive-odd-5);
  --wb-token-spacing-chips-l-gap: var(--wb-primitive-even-4);
  --wb-token-spacing-chips-m-h-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-chips-m-v-pad: var(--wb-primitive-odd-3);
  --wb-token-spacing-chips-m-gap: var(--wb-primitive-even-4);
  --wb-token-spacing-chips-s-h-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-chips-s-v-pad: var(--wb-primitive-even-2);
  --wb-token-spacing-chips-s-gap: var(--wb-primitive-even-4);
  --wb-token-radius-chips-l: var(--wb-primitive-even-4);
  --wb-token-radius-chips-m: var(--wb-primitive-even-4);
  --wb-token-radius-chips-s: var(--wb-primitive-even-4);
  --wb-token-radius-chips-xl: var(--wb-primitive-even-4);
  --wb-token-spacing-chips-xl-h-pad: var(--wb-primitive-even-6);
  --wb-token-spacing-chips-xl-v-pad: var(--wb-primitive-odd-5);
  --wb-token-spacing-chips-xl-gap: var(--wb-primitive-even-4);
  --wb-token-shadow-shadow-xs-x: var(--wb-primitive-even-0);
  --wb-token-shadow-shadow-xs-y: var(--wb-primitive-4rule-4);
  --wb-token-shadow-shadow-xs-blur: var(--wb-primitive-4rule-8);
  --wb-token-shadow-shadow-xs-spread: var(--wb-primitive-even-negative--2);
  --wb-primitive-even-negative--2: -2px;
  --wb-primitive-even-negative--4: -4px;
  --wb-primitive-even-negative--6: -6px;
  --wb-primitive-even-negative--8: -8px;
  --wb-primitive-even-negative--10: -10px;
  --wb-primitive-even-negative--12: -12px;
  --wb-primitive-even-negative--14: -14px;
  --wb-primitive-even-negative--16: -16px;
  --wb-token-shadow-shadow-s-x: var(--wb-primitive-even-0);
  --wb-token-shadow-shadow-s-y: var(--wb-primitive-4rule-8);
  --wb-token-shadow-shadow-s-blur: var(--wb-primitive-4rule-16);
  --wb-token-shadow-shadow-s-spread: var(--wb-primitive-even-negative--4);
  --wb-token-shadow-shadow-m-x: var(--wb-primitive-even-0);
  --wb-token-shadow-shadow-m-y: var(--wb-primitive-4rule-12);
  --wb-token-shadow-shadow-m-blur: var(--wb-primitive-4rule-24);
  --wb-token-shadow-shadow-m-spread: var(--wb-primitive-even-negative--6);
  --wb-token-shadow-shadow-l-blur: var(--wb-primitive-4rule-32);
  --wb-token-shadow-shadow-l-spread: var(--wb-primitive-even-negative--8);
  --wb-token-shadow-shadow-l-x: var(--wb-primitive-even-0);
  --wb-token-shadow-shadow-l-y: var(--wb-primitive-4rule-16);
  --wb-token-shadow-shadow-xl-x: var(--wb-primitive-even-0);
  --wb-token-shadow-shadow-xl-y: var(--wb-primitive-4rule-24);
  --wb-token-shadow-shadow-xl-blur: var(--wb-primitive-4rule-48);
  --wb-token-shadow-shadow-xl-spread: var(--wb-primitive-even-negative--12);
  --wb-token-radius-tooltip: var(--wb-primitive-even-8);
  --wb-token-spacing-tooltip-h-pad: var(--wb-primitive-even-12);
  --wb-token-spacing-tooltip-v-pad: var(--wb-primitive-even-8);
  --wb-token-spacing-tooltip-gap: var(--wb-primitive-even-4);
  --wb-token-spacing-top-navbar-h-pad: var(--wb-primitive-4rule-16);
  --wb-token-spacing-top-navbar-v-pad: var(--wb-primitive-4rule-12);
  --wb-token-radius-shell: var(--wb-primitive-even-12);
  --wb-token-spacing-top-navbar-gap: var(--wb-primitive-even-8);
  --wb-primitive-even-14: 14px;
  --wb-primitive-even-16: 16px;
  --wb-primitive-even-18: 18px;
  --wb-primitive-even-20: 20px;
  --wb-token-radius-dropdown-wrap-l: var(--wb-primitive-even-8);
  --wb-token-radius-dropdown-wrap-m: var(--wb-primitive-even-8);
  --wb-token-radius-dropdown-wrap-s: var(--wb-primitive-even-8);
  --wb-token-spacing-dropdown-wrap-s-h-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-dropdown-wrap-s-v-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-dropdown-wrap-s-gap: var(--wb-primitive-even-4);
  --wb-token-spacing-dropdown-wrap-m-h-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-dropdown-wrap-m-v-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-dropdown-wrap-m-gap: var(--wb-primitive-even-4);
  --wb-token-spacing-dropdown-wrap-l-h-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-dropdown-wrap-l-v-pad: var(--wb-primitive-even-4);
  --wb-token-spacing-dropdown-wrap-l-gap: var(--wb-primitive-even-4);
  --wb-token-shadow-focus-node-active-blur: var(--wb-primitive-even-0);
  --wb-token-shadow-focus-node-active-spread: var(--wb-primitive-even-4);
  --wb-token-shadow-focus-node-active-x: var(--wb-primitive-even-0);
  --wb-token-shadow-focus-node-active-y: var(--wb-primitive-even-0);
  --wb-token-shadow-focus-element-x: var(--wb-primitive-even-0);
  --wb-token-shadow-focus-element-y: var(--wb-primitive-even-0);
  --wb-token-shadow-focus-element-blur: var(--wb-primitive-even-0);
  --wb-token-shadow-focus-element-spread: var(--wb-primitive-even-2);
  --wb-token-spacing-checkbox-m-pad: var(--wb-primitive-odd-3);
  --wb-token-spacing-checkbox-s-pad: var(--wb-primitive-odd-3);
  --wb-token-spacing-checkbox-xs-pad: var(--wb-primitive-odd-3);
  --wb-token-radius-checkbox-m: var(--wb-primitive-even-4);
  --wb-token-radius-checkbox-s: var(--wb-primitive-even-4);
  --wb-token-radius-checkbox-xs: var(--wb-primitive-even-4);
  --wb-token-radius-radiobutton: var(--wb-primitive-even-100);
  --wb-token-spacing-radiobutton-m-pad: var(--wb-primitive-odd-5);
  --wb-token-spacing-radiobutton-s-pad: var(--wb-primitive-odd-5);
  --wb-token-spacing-radiobutton-xs-pad: var(--wb-primitive-even-4);
  --wb-primitive-even-22: 22px;
  --wb-primitive-even-24: 24px;
  --wb-primitive-even-26: 26px;
  --wb-primitive-even-28: 28px;
  --wb-primitive-even-30: 30px;
  --wb-token-radius-widget-s: var(--wb-primitive-even-8);
  --wb-token-radius-widget-m: var(--wb-primitive-even-8);
  --wb-token-radius-widget-l: var(--wb-primitive-even-8);
  --wb-token-spacing-widget-s-pad: var(--wb-primitive-even-10);
  --wb-token-spacing-widget-s-gap: var(--wb-primitive-even-16);
  --wb-token-spacing-widget-m-pad: var(--wb-primitive-even-10);
  --wb-token-spacing-widget-l-pad: var(--wb-primitive-even-10);
  --wb-token-spacing-widget-m-gap: var(--wb-primitive-even-16);
  --wb-token-spacing-widget-l-gap: var(--wb-primitive-even-16);
  --wb-token-spacing-widget-paragraph-pad: var(--wb-primitive-even-6);
  --wb-token-spacing-widget-paragraph-gap: var(--wb-primitive-even-8);
  --wb-token-radius-widget-txtarea: var(--wb-primitive-even-6);
  --wb-token-spacing-widget-txtarea-pad: var(--wb-primitive-even-10);
  --wb-token-spacing-widget-txtarea-gap: var(--wb-primitive-even-6);
  --wb-token-spacing-widget-richtxt-m-pad: var(--wb-primitive-even-8);
  --wb-token-spacing-widget-richtxt-m-gap: var(--wb-primitive-even-6);
  --wb-token-radius-widget-richtxt: var(--wb-primitive-even-6);
  --wb-token-spacing-swatchselector-m-pad: var(--wb-primitive-odd-3);
  --wb-token-spacing-swatchselector-s-pad: var(--wb-primitive-odd-3);
  --wb-token-spacing-swatchselector-xs-pad: var(--wb-primitive-odd-3);
  --wb-token-radius-swatchselector-m: var(--wb-primitive-even-4);
  --wb-token-radius-swatchselector-s: var(--wb-primitive-even-4);
  --wb-token-radius-swatchselector-xs: var(--wb-primitive-even-4);
}
