:root {
  --wb-colors-gray-100: #ffffff;
  --wb-colors-gray-200: #f5f5f7;
  --wb-colors-gray-300: #edeff3;
  --wb-colors-gray-400: #d5d8e0;
  --wb-colors-gray-500: #6f7480;
  --wb-colors-gray-600: #4d5059;
  --wb-colors-gray-700: #27282b;
  --wb-colors-gray-800: #151516;
  --wb-colors-gray-900: #070708;
  --wb-colors-blue-100: #eef2fd;
  --wb-colors-blue-200: #e3e8f5;
  --wb-colors-blue-300: #d0d8eb;
  --wb-colors-blue-400: #336dff;
  --wb-colors-blue-500: #2b5bd5;
  --wb-colors-blue-600: #2249ab;
  --wb-colors-green-100: #e9f7ee;
  --wb-colors-green-200: #c2edd1;
  --wb-colors-green-300: #29974e;
  --wb-colors-green-400: #007c29;
  --wb-colors-orange-100: #f7f2e9;
  --wb-colors-orange-200: #eddfc2;
  --wb-colors-orange-300: #ffaf10;
  --wb-colors-orange-400: #e59800;
  --wb-colors-red-100: #f7e9e9;
  --wb-colors-red-200: #edc2c2;
  --wb-colors-red-300: #deadad;
  --wb-colors-red-400: #962929;
  --wb-colors-red-500: #7d0000;
  --wb-colors-red-600: #670000;
  --wb-colors-gray-650: #383a40;
  --wb-colors-gray-450: #bdc1cc;
  --wb-colors-green-400-10: #007c29;
  --wb-colors-orange-400-10: #e59800;
  --wb-colors-red-400-10: #962929;
  --wb-colors-red-400-20: #962929;
  --wb-colors-red-400-50: #962929;
  --wb-colors-gray-100-50: #ffffff;
  --wb-colors-gray-100-30: #ffffff;
  --wb-colors-gray-900-50: #070708;
  --wb-colors-gray-900-30: #070708;
  --wb-colors-gray-100-75: #ffffff;
  --wb-colors-red-400-30: #962929;
  --wb-colors-red-100-10: #f7e9e9;
  --wb-colors-red-100-20: #f7e9e9;
  --wb-colors-red-100-30: #f7e9e9;
  --wb-colors-red-100-50: #f7e9e9;
  --wb-colors-blue-400-10: #336dff;
  --wb-colors-blue-400-20: #336dff;
  --wb-colors-blue-400-30: #336dff;
  --wb-colors-blue-400-50: #336dff;
  --wb-colors-green-400-20: #007c29;
  --wb-colors-green-400-30: #007c29;
  --wb-colors-green-400-50: #007c29;
  --wb-colors-orange-400-20: #e59800;
  --wb-colors-orange-400-30: #e59800;
  --wb-colors-orange-400-50: #e59800;
  --wb-colors-gray-100-10: #ffffff;
  --wb-colors-gray-100-20: #ffffff;
  --wb-colors-gray-900-10: #070708;
  --wb-colors-gray-900-20: #070708;
  --wb-colors-gray-900-5: #070708;
  --wb-colors-gray-900-75: #070708;
  --wb-colors-gray-100-5: #ffffff;
  --wb-colors-blue-350: #729aff;
  --wb-colors-acc1-50: #f0f8ff;
  --wb-colors-acc1-100: #e0f0fe;
  --wb-colors-acc1-200: #bbe2fc;
  --wb-colors-acc1-300: #5fbefa;
  --wb-colors-acc1-400: #3ab0f6;
  --wb-colors-acc1-500: #1096e7;
  --wb-colors-acc1-600: #0477c5;
  --wb-colors-acc1-700: #045fa0;
  --wb-colors-acc1-800: #085184;
  --wb-colors-acc1-900: #0d446d;
  --wb-colors-acc1-950: #092b48;
  --wb-colors-acc1-500-10: #1096e7;
  --wb-colors-acc1-500-20: #1096e7;
  --wb-colors-acc1-500-30: #1096e7;
  --wb-colors-acc1-500-50: #1096e7;
  --wb-colors-acc1-500-40: #1096e7;
  --wb-colors-acc1-950-10: #092b48;
  --wb-colors-acc1-950-20: #092b48;
  --wb-colors-acc1-950-30: #092b48;
  --wb-colors-acc1-950-50: #092b48;
  --wb-colors-acc1-950-40: #092b48;
  --wb-colors-acc2-50: #fef2f2;
  --wb-colors-acc2-100: #fee3e2;
  --wb-colors-acc2-200: #fdcdcb;
  --wb-colors-acc2-300: #fa928e;
  --wb-colors-acc2-400: #f77772;
  --wb-colors-acc2-500: #ed4c46;
  --wb-colors-acc2-500-10: #ed4c46;
  --wb-colors-acc2-500-20: #ed4c46;
  --wb-colors-acc2-500-30: #ed4c46;
  --wb-colors-acc2-500-40: #ed4c46;
  --wb-colors-acc2-500-50: #ed4c46;
  --wb-colors-acc2-600: #da2f28;
  --wb-colors-acc2-700: #b7241e;
  --wb-colors-acc2-800: #98211c;
  --wb-colors-acc2-900: #7e221e;
  --wb-colors-acc2-950: #440d0b;
  --wb-colors-acc2-950-10: #440d0b;
  --wb-colors-acc2-950-20: #440d0b;
  --wb-colors-acc2-950-30: #440d0b;
  --wb-colors-acc2-950-40: #440d0b;
  --wb-colors-acc2-950-50: #440d0b;
  --wb-colors-acc3-50: #effef7;
  --wb-colors-acc3-100: #cafde6;
  --wb-colors-acc3-200: #7efac4;
  --wb-colors-acc3-300: #57f1b1;
  --wb-colors-acc3-400: #24dd90;
  --wb-colors-acc3-500: #0bc175;
  --wb-colors-acc3-600: #069b62;
  --wb-colors-acc3-700: #0a7b52;
  --wb-colors-acc3-800: #0d6244;
  --wb-colors-acc3-900: #10513b;
  --wb-colors-acc3-950: #023121;
  --wb-colors-acc4-50: #fbf5ff;
  --wb-colors-acc4-100: #f6e9fe;
  --wb-colors-acc4-200: #eed6fe;
  --wb-colors-acc4-300: #e0b6fc;
  --wb-colors-acc4-400: #d395f9;
  --wb-colors-acc4-500: #ba5af2;
  --wb-colors-acc4-600: #a839e4;
  --wb-colors-acc4-700: #9127c9;
  --wb-colors-acc4-800: #7a25a4;
  --wb-colors-acc4-900: #641f84;
  --wb-colors-acc4-950: #450a61;
  --wb-colors-acc5-50: #fff4ed;
  --wb-colors-acc5-100: #fee7d6;
  --wb-colors-acc5-200: #fccdac;
  --wb-colors-acc5-300: #faae73;
  --wb-colors-acc5-400: #f79240;
  --wb-colors-acc5-500: #f4841b;
  --wb-colors-acc5-600: #e57711;
  --wb-colors-acc5-700: #be5310;
  --wb-colors-acc5-800: #973c15;
  --wb-colors-acc5-900: #7a2f14;
  --wb-colors-acc5-950: #421608;
  --wb-colors-acc3-500-10: #0bc175;
  --wb-colors-acc3-500-20: #0bc175;
  --wb-colors-acc3-500-30: #0bc175;
  --wb-colors-acc3-500-50: #0bc175;
  --wb-colors-acc4-500-10: #ba5af2;
  --wb-colors-acc4-500-20: #ba5af2;
  --wb-colors-acc4-500-30: #ba5af2;
  --wb-colors-acc4-500-50: #ba5af2;
  --wb-colors-acc5-500-10: #f4841b;
  --wb-colors-acc5-500-20: #f4841b;
  --wb-colors-acc5-500-30: #f4841b;
  --wb-colors-acc5-500-50: #f4841b;
  --wb-colors-acc3-500-40: #0bc175;
  --wb-colors-acc4-500-40: #ba5af2;
  --wb-colors-acc5-500-40: #f4841b;
}
