@media (prefers-color-scheme: light) {
  :root {
    --wb-widget-swatches-acc6: var(--wb-colors-gray-500);
    --wb-widget-swatches-acc5: var(--wb-colors-acc5-500);
    --wb-widget-swatches-acc4: var(--wb-colors-acc4-500);
    --wb-widget-swatches-acc3: var(--wb-colors-acc3-500);
    --wb-widget-swatches-acc2: var(--wb-colors-acc2-500);
    --wb-widget-swatches-acc1: var(--wb-colors-acc1-500);
    --wb-ui-stroke-secondary-default: var(--wb-colors-gray-400);
    --wb-ui-stroke-primary-highlight: var(--wb-colors-acc1-500);
    --wb-ui-stroke-primary-focus: var(--wb-colors-gray-500);
    --wb-ui-stroke-primary-default: var(--wb-colors-gray-300);
    --wb-ui-separator-primary-default: var(--wb-colors-gray-300);
    --wb-ui-canvas-dots-default: var(--wb-colors-gray-500);
    --wb-ui-bg-tertiary-selected: var(--wb-colors-acc1-600);
    --wb-ui-bg-tertiary-default: var(--wb-colors-gray-300);
    --wb-ui-bg-secondary-default: var(--wb-colors-gray-200);
    --wb-ui-bg-primary-default: var(--wb-colors-gray-100);
    --wb-txt-warning-default: var(--wb-colors-orange-400);
    --wb-txt-tooltip-bw: var(--wb-colors-gray-100);
    --wb-txt-tooltip-blue: var(--wb-colors-gray-100);
    --wb-txt-tertiary-default: var(--wb-colors-gray-500);
    --wb-txt-success-default: var(--wb-colors-green-400);
    --wb-txt-secondary-inverse: var(--wb-colors-gray-300);
    --wb-txt-secondary-default: var(--wb-colors-gray-600);
    --wb-txt-quaternary-default: var(--wb-colors-gray-450);
    --wb-txt-primary-white: var(--wb-colors-gray-100);
    --wb-txt-primary-inverse: var(--wb-colors-gray-100);
    --wb-txt-primary-disabled: var(--wb-colors-gray-100-75);
    --wb-txt-primary-default: var(--wb-colors-gray-900);
    --wb-txt-info-default: var(--wb-colors-acc1-700);
    --wb-txt-error-default: var(--wb-colors-red-400);
    --wb-txt-destuctive-default: var(--wb-colors-red-400);
    --wb-txt-destructive-disabled: var(--wb-colors-red-400-50);
    --wb-tooltip-bg-default: var(--wb-colors-gray-800);
    --wb-tooltip-bg-blue: var(--wb-colors-acc1-800);
    --wb-tab-stroke-line: var(--wb-colors-gray-400);
    --wb-tab-stroke-hover: var(--wb-colors-gray-800);
    --wb-tab-stroke-default: var(--wb-colors-gray-500);
    --wb-tab-stroke-active: var(--wb-colors-acc1-500);
    --wb-snackbar-bg-warning: var(--wb-colors-orange-400-10);
    --wb-snackbar-bg-success: var(--wb-colors-green-400-10);
    --wb-snackbar-bg-information: var(--wb-colors-acc1-500-10);
    --wb-snackbar-bg-error: var(--wb-colors-red-400-10);
    --wb-snackbar-bg-default: var(--wb-colors-gray-900-5);
    --wb-shadow: var(--wb-colors-gray-900-20);
    --wb-scrollbar-bg-default: var(--wb-colors-gray-400);
    --wb-pt-stroke-primary-default: var(--wb-colors-gray-600);
    --wb-pt-bg-primary-default: var(--wb-colors-gray-700);
    --wb-node-txt-disabled: var(--wb-colors-gray-900-30);
    --wb-node-stroke-primary-hover: var(--wb-colors-acc1-500);
    --wb-node-stroke-primary-default: var(--wb-colors-gray-400);
    --wb-node-port-stroke-default: var(--wb-colors-gray-500);
    --wb-node-port-stroke-active: var(--wb-colors-gray-100);
    --wb-node-port-fill-default: var(--wb-colors-gray-100);
    --wb-node-port-fill-active: var(--wb-colors-acc1-500);
    --wb-node-notify-ico-default: var(--wb-colors-orange-100);
    --wb-node-notify-bg-default: var(--wb-colors-orange-400);
    --wb-node-icon-primary-disabled: var(--wb-colors-gray-900-30);
    --wb-node-icon-primary-default: var(--wb-colors-acc1-500);
    --wb-node-bg-secondary-default: var(--wb-colors-gray-200);
    --wb-node-bg-primary-hover: var(--wb-colors-gray-100);
    --wb-node-bg-primary-disabled: var(--wb-colors-gray-200);
    --wb-node-bg-primary-default: var(--wb-colors-gray-100);
    --wb-node-bg-primary-active: var(--wb-colors-gray-100);
    --wb-nav-button-icon-primary-hover: var(--wb-colors-gray-800);
    --wb-nav-button-icon-primary-disabled: var(--wb-colors-gray-450);
    --wb-nav-button-icon-primary-default: var(--wb-colors-gray-600);
    --wb-nav-button-icon-primary-active: var(--wb-colors-acc1-600);
    --wb-nav-button-bg-primary-hover: var(--wb-colors-gray-900-5);
    --wb-input-stroke-primary-success: var(--wb-colors-green-400);
    --wb-input-stroke-primary-focus: var(--wb-colors-acc1-500);
    --wb-input-stroke-primary-error: var(--wb-colors-red-400);
    --wb-input-stroke-primary-default: var(--wb-colors-gray-400);
    --wb-input-bg-primary-success: var(--wb-colors-green-400-10);
    --wb-input-bg-primary-error: var(--wb-colors-red-400-10);
    --wb-focus-ring-node-warning: var(--wb-colors-acc5-500-40);
    --wb-focus-ring-node-error: var(--wb-colors-acc2-500-40);
    --wb-focus-ring-node-active: var(--wb-colors-acc1-500-40);
    --wb-focus-ring-element: var(--wb-txt-primary-default);
    --wb-dropzone-stroke-hover: var(--wb-colors-gray-500);
    --wb-dropzone-stroke-error: var(--wb-colors-red-400);
    --wb-dropzone-stroke-dragging: var(--wb-colors-gray-800);
    --wb-dropzone-stroke-default: var(--wb-colors-gray-400);
    --wb-dropzone-bg-hover: var(--wb-colors-gray-300);
    --wb-dropzone-bg-error: var(--wb-colors-red-400-10);
    --wb-dropzone-bg-dragging: var(--wb-colors-gray-300);
    --wb-dropzone-bg-default: var(--wb-colors-gray-200);
    --wb-dropdown-bg-secondary-default: var(--wb-colors-gray-300);
    --wb-dropdown-bg-secondary-active: var(--wb-colors-acc1-600);
    --wb-dropdown-bg-primary-default: var(--wb-colors-gray-100);
    --wb-dropdown-bg-destructive-hover: var(--wb-colors-red-400-20);
    --wb-dropdown-bg-destructive-default: var(--wb-colors-red-400-10);
    --wb-chips-neutral-x: var(--wb-colors-gray-500);
    --wb-chips-neutral-txt: var(--wb-colors-gray-800);
    --wb-chips-neutral-icon: var(--wb-colors-acc1-500);
    --wb-chips-neutral-bg: var(--wb-colors-gray-300);
    --wb-chips-acc5-x: var(--wb-colors-acc5-700);
    --wb-chips-acc5-txt: var(--wb-colors-acc5-700);
    --wb-chips-acc5-stroke: var(--wb-colors-acc5-700);
    --wb-chips-acc5-icon: var(--wb-colors-acc5-700);
    --wb-chips-acc5-bg: var(--wb-colors-acc5-500-10);
    --wb-chips-acc4-x: var(--wb-colors-acc4-600);
    --wb-chips-acc4-txt: var(--wb-colors-acc4-600);
    --wb-chips-acc4-stroke: var(--wb-colors-acc4-600);
    --wb-chips-acc4-icon: var(--wb-colors-acc4-600);
    --wb-chips-acc4-bg: var(--wb-colors-acc4-500-10);
    --wb-chips-acc3-x: var(--wb-colors-acc3-700);
    --wb-chips-acc3-txt: var(--wb-colors-acc3-700);
    --wb-chips-acc3-stroke: var(--wb-colors-acc3-700);
    --wb-chips-acc3-icon: var(--wb-colors-acc3-700);
    --wb-chips-acc3-bg: var(--wb-colors-acc3-500-10);
    --wb-chips-acc2-x: var(--wb-colors-acc2-600);
    --wb-chips-acc2-txt: var(--wb-colors-acc2-600);
    --wb-chips-acc2-stroke: var(--wb-colors-acc2-600);
    --wb-chips-acc2-icon: var(--wb-colors-acc2-600);
    --wb-chips-acc2-bg: var(--wb-colors-acc2-500-10);
    --wb-chips-acc1-x: var(--wb-colors-acc1-600);
    --wb-chips-acc1-txt: var(--wb-colors-acc1-600);
    --wb-chips-acc1-stroke: var(--wb-colors-acc1-600);
    --wb-chips-acc1-icon: var(--wb-colors-acc1-600);
    --wb-chips-acc1-bg: var(--wb-colors-acc1-500-10);
    --wb-button-red-bg-loading: var(--wb-colors-red-400);
    --wb-button-red-bg-hover: var(--wb-colors-red-500);
    --wb-button-red-bg-focus: var(--wb-colors-red-400);
    --wb-button-red-bg-disabled: var(--wb-colors-gray-400);
    --wb-button-red-bg-default: var(--wb-colors-red-400);
    --wb-button-red-bg-active: var(--wb-colors-red-600);
    --wb-button-primary-bg-loading: var(--wb-colors-acc1-500);
    --wb-button-primary-bg-hover: var(--wb-colors-acc1-600);
    --wb-button-primary-bg-focus: var(--wb-colors-acc1-500);
    --wb-button-primary-bg-disabled: var(--wb-colors-gray-400);
    --wb-button-primary-bg-default: var(--wb-colors-acc1-500);
    --wb-button-primary-bg-active: var(--wb-colors-acc1-700);
    --wb-button-orange-bg-loading: var(--wb-colors-orange-300);
    --wb-button-orange-bg-hover: var(--wb-colors-orange-400);
    --wb-button-orange-bg-focus: var(--wb-colors-orange-300);
    --wb-button-orange-bg-default: var(--wb-colors-orange-300);
    --wb-button-orange-bg-active: var(--wb-colors-orange-300);
    --wb-button-green-bg-loading: var(--wb-colors-green-300);
    --wb-button-green-bg-hover: var(--wb-colors-green-400);
    --wb-button-green-bg-focus: var(--wb-colors-green-300);
    --wb-button-green-bg-disabled: var(--wb-colors-gray-400);
    --wb-button-green-bg-default: var(--wb-colors-green-300);
    --wb-button-green-bg-active: var(--wb-colors-green-300);
    --wb-button-gray-bg-loading: var(--wb-colors-gray-500);
    --wb-button-gray-bg-hover: var(--wb-colors-gray-600);
    --wb-button-gray-bg-focus: var(--wb-colors-gray-500);
    --wb-button-gray-bg-disabled: var(--wb-colors-gray-400);
    --wb-button-gray-bg-default: var(--wb-colors-gray-500);
    --wb-button-gray-bg-active: var(--wb-colors-gray-650);
    --wb-button-ghost-destructive-stroke-default: var(--wb-colors-red-400);
    --wb-button-ghost-destructive-bg-loading: var(--wb-colors-red-400-10);
    --wb-button-ghost-destructive-bg-hover: var(--wb-colors-red-400-20);
    --wb-button-ghost-destructive-bg-focus: var(--wb-colors-red-400-10);
    --wb-button-ghost-destructive-bg-disabled: var(--wb-colors-red-400-10);
    --wb-button-ghost-destructive-bg-default: var(--wb-colors-red-400-10);
    --wb-button-ghost-destructive-bg-active: var(--wb-colors-red-400-30);
    --xy-background-stroke-color: var(--wb-colors-gray-400);
    --xy-canvas-background-color: var(--wb-colors-gray-200);
  }
}
